<h1>Login</h1>

<%= form_with url: login_path, local: true do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
  </div>

  <div>
    <%= f.submit "Entrar" %>
  </div>
<% end %>

<%= link_to "Criar conta", signup_path %>